# Node modules
node_modules/

# Environment variables
.env
BUYER.md
queriesStorage.sql
# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Build and temp files
dist/
build/
tmp/
*.tmp

# Uploaded files
uploads/

# IDE settings
.vscode/
.idea/